body::-webkit-scrollbar {
    width: 6px;               /* ширина всей полосы прокрутки */
  }
  
body::-webkit-scrollbar-track {
    background: rgb(230, 230, 230);        /* цвет зоны отслеживания */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128);    /* цвет бегунка */
  }
body {
    background-color: #1B1B1B;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 0;
    margin: 0;
}
h1{
    margin: 0;
    padding: 0;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.containeritems{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50vw;
}
/* navigation */
.headercontainer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 3vw 5vw;
    width: 89.93%;
}
.logo{
    width: 4vw;
    transition: 0.3s;
}
.logo:hover{
    opacity: 20%;
}
.contact-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7vw 1vw;
    outline: 0.13vw solid #ffffff;
    color: white;
    font-size: 0.8vw;
    letter-spacing: 0.1vw;
    border-radius: 2vw;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    transition: 0.3s;
}
.contact-button:hover{
    outline: 0.13vw solid #454545;
}
/* landing */
.landingcontainer{
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;
    width: 90vw;
    height: 34vw;
}
.column{
    width: 25vw;
}
.memoji{
    opacity: 98%;
    width: 16vw;
}
.txt1{
    margin-top: 1vw;
    font-size: 1.6vw;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
}
.txt2{
    margin-top: 0.5vw;
    font-size: 1.2vw;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
    letter-spacing: 0.05vw;
}
.txt3{
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5vw;
    font-variation-settings: "wdth" 100;
    font-size: 1vw;
    padding: 2.5vw;
}
.overlay1{
    width: 100%;
    position: relative;
}
.overlay1img{
    width: 100%;
    position: relative;
    user-select: none;
}
.overlaytxt1{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5vw;
    font-variation-settings: "wdth" 100;
    position: absolute;
    top: 8%;
    font-size: 2.2vw;
    left: 44.1vw;
    color: white;
}
/*  */
.containerboxes {
    top: 15vw;
    left: 14.8vw;
    position: absolute;
    display: flex;
    gap: 10vw;
    justify-content: center;
}
.box1 {
    width: 17vw;
    height: 17vw;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    transition: 0.4s;
}
.box1:hover{
    box-shadow: 0 0 2vw -0.7vw rgba(255, 255, 255, 0.7)
}
.box2 {
    width: 17vw;
    height: 17vw;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    transition: 0.4s;
}
.box2:hover{
    box-shadow: 0 0 2vw -0.7vw rgba(255, 255, 255, 0.7)
}
.box3 {
    width: 17vw;
    height: 17vw;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    transition: 0.4s;
}
.box3:hover{
    box-shadow: 0 0 2vw -0.7vw rgba(255, 255, 255, 0.7)
}
.img1 {
    width: 9vw;
    object-fit: cover;
}
.img2{
    width: 8vw;
    object-fit: cover;
}
.img3{
    width: 10vw;
    object-fit: cover;
}
.text-container {
    display: flex;
    font-size: 1vw;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    letter-spacing: 0.04vw;
}
.boxtxt1 {
    position: absolute;
    top: 33vw;
    left: 22vw;
}
.boxtxt2 {
    position: absolute;
    top: 33vw;
    left: 48.4vw;
}
.boxtxt3 {
    position: absolute;
    top: 33vw;
    left: 75.8vw;
}
/* overlay 2 */
.overlay2{
    width: 100%;
    position: absolute;
    top: 21vw;
}
.overlay2img{
    width: 100%;
    position: absolute;
    top: 21vw;
    user-select: none;
}
.pixelbackgroundphone{
    display: none;
}
.pixelbackground{
    position: absolute;
    top: 31vw;
    left: 15vw;
    width: 70.7vw; 
    user-select: none; 
}
.overlay2txt1 {
    font-size: 2vw;
    color: white;
    position: absolute;
    top: 65vw;
    left: 15vw;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.overlay2txt2 {
    width: 70.6vw;
    line-height: 2vw;
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 70vw;
    left: 15vw;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: justify;
}
.overlay2txt3 {
    width: 70.6vw;
    line-height: 2vw;
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 76vw;
    left: 15vw;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: justify;
}
.overlay2txt4 {
    width: 70.6vw;
    line-height: 2vw;
    font-size: 1vw;
    color: white;
    position: absolute;
    top: 84.4vw;
    left: 15vw;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: justify;
}
/* footer */
.footer{
    position: absolute;
    top: 117vw;
    width: 100%;
    height: 25vw;
}
.containericons{
    position: absolute;
    left: 40vw;
    top: 10%;
    display: flex;
    align-items: center;
    gap: 5vw;
}
.youtubeico{
    width: 3.7vw;
    transition: 0.3s;
}
.youtubeico:hover{
    opacity: 30%;
}
.instico{
    width: 3vw;
    transition: 0.3s;
}
.instico:hover{
    opacity: 30%;
}
.telegramico{
    width: 3vw;
    transition: 0.3s;
}
.telegramico:hover{
    opacity: 30%;
}
.footertxt1{
    top: 4vw;
    left: -3vw;
    font-size: 7vw;
    position: absolute;
    color: white;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footertxt2{
    top: 10vw;
    left: 3.6vw;
    font-size: 7vw;
    position: absolute;
    color: white;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footertxt3{
    top: 18.5vw;
    left: 5.7vw;
    font-size: 0.8vw;
    position: absolute;
    color: white;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0006bd;
}
.footertxt4 {
    top: 19.5vw;
    left: 5.7vw;
    font-size: 0.51vw;
    position: absolute;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffe000;
}

/* Adaptation  */
@media (max-width: 850px) {
    .headercontainer {
        position: absolute;
        display: flex;
        justify-content: space-between;
        padding: 7vw 8vw;
        width: 84%;
    }
    .logo {
        width: 6vw; 
    }
    .contact-button {
        padding: 0.7vw 1.5vw;
        outline: 0.1vw solid #ffffff;
        font-size: 1.3vw;
    }
    .memoji {
        opacity: 98%;
        width: 23vw;
    }
    .txt1 {
        font-size: 2.3vw;
    }
    .txt2 {
        margin-top: 0.7vw;
        font-size: 2vw;
    }
    .txt3 {
        line-height: 2.3vw;
        font-size: 1.5vw;
    }
    .overlaytxt1 {
        top: 8%;
        font-size: 2.6vw;
        left: 43vw;
    }
    .containerboxes {
        top: 13.5vw;
        left: 10.2vw;
        gap: 10vw;
    }
    .box1 {
        width: 20vw;
        height: 20vw;
    }
    .img1 {
        width: 12vw;
    }
    .boxtxt1 {
        top: 35vw;
        left: 18.5vw;
    }
    .box2 {
        width: 20vw;
        height: 20vw;
    }
    .img2 {
        width: 9.5vw;
    }
    .boxtxt2 {
        top: 35vw;
        left: 47.4vw;
    }
    .box3 {
        width: 20vw;
        height: 20vw;
    }
    .img3 {
        width: 12vw;
    }
    .boxtxt3 {
        top: 35vw;
        left: 78vw;
    }
    .text-container {
        font-size: 1.5vw;
    }
    .pixelbackground {
        top: 31vw;
        left: 10.2vw;
        width: 80vw;
    }
    .overlay2txt1 {
        font-size: 2.5vw;
        top: 69vw;
        left: 10vw;
    }
    .overlay2txt2 {
        width: 80.2vw;
        line-height: 2.9vw;
        font-size: 1.3vw;
        top: 75vw;
        left: 10vw;
    }
    .overlay2txt3 {
        width: 80.2vw;
        line-height: 2.9vw;
        font-size: 1.3vw;
        top: 83vw;
        left: 10vw;
    }
    .overlay2txt4 {
        width: 80.2vw;
        line-height: 2.9vw;
        font-size: 1.3vw;
        top: 93.5vw;
        left: 10vw;
    }
    .overlay2img {
        top: 21.7vw;
        width: 100%;
        height: 83vw;
        background-color: #131313;
        border-radius: 2.7vw 2.7vw 0vw 0vw;
    }
    .footer {
        top: 130vw;
        width: 100%;
        height: 25vw;
    }
    .containericons {
        top: 1%;
    }
}
@media (max-width: 500px) {
    .logo {
        width: 10vw;
    }
    .contact-button {
        padding: 0vw 3vw;
        border-radius: 5vw;
        outline: 0.4vw solid #ffffff;
        font-size: 2.5vw;
    }
    .memoji {
        opacity: 98%;
        width: 37vw;
    }
    .txt1 {
        font-size: 4vw;
    }
    .txt2 {
        margin-top: 0.9vw;
        font-size: 3.4vw;
    }
    .txt3 {
        line-height: 3.4vw;
        margin-top: 5vw;
        font-size: 2.1vw;
    }
/*  */
    .overlay1img {
        width: 100%;
        height: 145vw;
        position: relative;
        user-select: none;
        background-color: #161616;
        border-radius: 9vw 9vw 0vw 0vw;
    }
    .overlaytxt1 {
        top: 8%;
        font-size: 4.5vw;
        left: 38vw;
    }
    .containerboxes {
        top: 25vw;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        justify-content: center;
        gap: 9v
    }
    .text-container {
        font-size: 3vw;
    }
    .box1 {
        width: 40vw;
        height: 40vw;
        border-radius: 5vw
    }
    .img1 {
        width: 24vw;
    }
    .boxtxt1 {
        top: 68vw;
        left: 21.7vw;
    }
    .box2 {
        width: 40vw;
        height: 40vw;
        border-radius: 5vw
    }
    .img2 {
        width: 20vw;
    }
    .boxtxt2 {
        top: 68vw;
        left: 69vw;
    }
    .box3 {
        width: 40vw;
        height: 40vw;
        border-radius: 5vw
    }
    .img3 {
        width: 24vw;
    }
    .boxtxt3 {
        top: 117.5vw;
        left: 45.3vw;
    }
    .overlay2img {
        top: 120vw;
        width: 100%;
        height: 156vw;
        background-color: #131313;
        border-radius: 9vw 9vw 0vw 0vw;
    }
    .pixelbackgroundphone{
        display: block;
        position: absolute;
        top: 120vw;
        left: 0vw;
        width: 100vw;
    }
    .pixelbackground {
        display: none;
    }
    .overlay2txt1 {
        font-size: 5vw;
        top: 200vw;
        left: 38.4vw;
    }
    .overlay2txt2 {
        width: 90vw;
        line-height: 5vw;
        font-size: 2.2vw;
        top: 210vw;
        left: 5vw;
    }
    .overlay2txt3 {
        width: 90vw;
        line-height: 5vw;
        font-size: 2.2vw;
        top: 229vw;
        left: 5vw;
    }
    .overlay2txt4 {
        width: 90vw;
        line-height: 5vw;
        font-size: 2.2vw;
        top: 257vw;
        left: 5vw;
    }
    .footer {
        top: 296.5vw;
        width: 100%;
        height: 70vw;
    }
    .containericons {
        top: 18%;
        gap: 8vw;
        left: 28.5vw;
    }
    .instico {
        width: 7vw;
    }
    .youtubeico {
        width: 10vw;
    }
    .telegramico {
        width: 7vw;
    }
    .footertxt1 {
        top: 14vw;
        left: -4vw;
        font-size: 13vw;
        font-family: "Jersey 20", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .footertxt2 {
        top: 24.5vw;
        left: 8vw;
        font-size: 13vw;
        font-family: "Jersey 20", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .footertxt3 {
        top: 45vw;
        left: 12.4vw;
        font-size: 1.4vw;
    }
    .footertxt4 {
        top: 46.7vw;
        left: 12.5vw;
        font-size: 0.89vw;
    }

}
