body::-webkit-scrollbar {
    width: 6px;               /* ширина всей полосы прокрутки */
  }
  
body::-webkit-scrollbar-track {
    background: rgb(230, 230, 230);        /* цвет зоны отслеживания */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128);    /* цвет бегунка */
  }
a{
    text-decoration: none;
    color: #000000;
    padding: 0;
    margin: 0;
}
h1{
    margin: 0;
    padding: 0;
}
body{
    opacity: 0; /* начальное значение непрозрачности */
    animation: body ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 0.7s; /* длительность анимации в 1 секунду */
}
@keyframes body {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.header{
    display: flex;
    justify-content: center;
}
.headercontainer{
    width: 90%;
    padding: 4% 0;
}
.headercontainerm{
    display: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100%;
    height: 100%;
}

.logo-img{
    width: 108px;
    height: 58px;
}

.containercontactbutton{
    width: 127px;
    height: 56px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.contact-border{
     background-color: #ffffff;
     color: rgb(0, 0, 0);
     width: 100%;
     border-radius: 222px;
     border: 0.5px solid #c3c3c3;
     cursor: pointer;
     display: flex;
     align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Syne', sans-serif;
    font-size: 17px;
    letter-spacing: 0.5px;
    transition: 0.25s;
    }

.contact-border:hover {
    border: 0.5px solid #000000;
}
/* section */
.section{
    display: flex;
    justify-content: center;
}
.section-hero{
    display: none;
}
.leftright{
    display: flex;
    justify-content: center;
    width: 90%;
}
.containercolumns{
    padding-bottom: 6.5%;
}
.columnsimg{
    width: 410px;
    height: 559px;
}
    

.landingcontainer{
    width: 90%;
    background-color: #ffffff;
    padding-top: 6%;
    padding-bottom: 6.5%;
}
.digitaldesigner{
    color: #000;
    font-family: Syne;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.836%; /* 161.07px */
    letter-spacing: -7.68px;
    position: absolute;
    }
.graphicvisualization{
    display: flex;
    justify-content: left;
    color: #000;
    font-family: Syne;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.836%; /* 161.07px */
    letter-spacing: -7.68px;
    position: relative;
    margin-top: 115px;
}
.containerdescribe{
    width: 571px;
    height: 150px;
    flex-shrink: 0;
    margin-top: 5%;
}

.describe{
    color: #000;
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.836%; /* 30.201px */
    letter-spacing: 0.48px;
}

/* section 2 */

.containerwsolutions{
    width: 90%;
    background-color: #ffffff;
    padding-top: 6.5%;
}
.containerportfolio{
    width: 165px;
    height: 44px;
    flex-shrink: 0;
    display: flex;
    border-radius: 6px;
    border: 1px solid #7B7B7B;
    background: #FFF;
}

.portfolio{
    width: 100%;
    color: #7B7B7B;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.836%; /* 40.268px */
    letter-spacing: -2.24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Syne', sans-serif;
    margin: 0;
    padding: 0;
}
.creativeportfolio{
  display: none;
}
.containerindividual{
    width: 911px;
    margin-top: 2.5%;
}

.individualtxt{
    color: #000;
    font-family: Arial;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 62.5px; /* 97.656% */
    letter-spacing: -1.28px;
    margin: 0;
}

.containerbyvolodymyr{
    margin-top: 2.5%;
}

.byvolodymyrtxt{
    margin: 0;
    padding: 0;
    color: #7A7A7A;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 250% */
    letter-spacing: -0.64px;
    display: inline-flex;
    height: 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

/* blocks */

.containerblocks{
    overflow: hidden;
    margin-top: 3.5%;
    max-height: 70%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.containerseemore{
    margin: 2vw;
    display: flex;
    justify-content: center;
}

.border-seemore{
    width: 186.656px;
    height: 56.663px;
    border-radius: 989.628px;
    border: 1.174px solid #C2C2C2;
    background: rgba(217, 217, 217, 0.00);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    color: #000;
    font-family: Arial;
    font-size: 23.479px;
    font-style: normal;
    font-weight: 400;
    line-height: 93.915px; /* 400% */
    letter-spacing: -0.47px;
    }

.border-seemore:hover{
    border: 0.5px solid #000000;
}

.seemore{
    color: #000;
    font-family: Arial;
    font-size: 23.479px;
    font-style: normal;
    font-weight: 400;
    line-height: 93.915px; /* 400% */
    letter-spacing: -0.47px;
    display: flex;
    height: 19.957px;
    justify-content: center;
    align-items: center;
    gap: 11.739px;
}

/* block1 */

.block1{
    width: 28vw;
    height: 40vw;
    flex-shrink: 0;
    background: #EDEFF2;
    overflow: hidden;
    padding: auto 0;
}

.sms{
    margin: 0 auto;
    margin-top: 15%;
    display: flex;
    height: 33.097px;
    justify-content: center;
    align-items: center;
    gap: 20.059px;
    flex-shrink: 0;
    color: #000;
    font-family: Arial;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 80.236px; /* 200% */
    letter-spacing: -0.802px;
    }

.containerearth{
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}

/* block2 */

.block2{
    width: 28vw;
    height: 40vw;
    flex-shrink: 0;
    background: #EDEFF2;
    overflow: hidden;
}

.cs{
    margin: 0 auto;
    margin-top: 15%;
    display: flex;
    height: 33.097px;
    justify-content: center;
    align-items: center;
    gap: 20.059px;
    flex-shrink: 0;
    color: #000;
    font-family: Arial;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 80.236px; /* 200% */
    letter-spacing: -0.802px;
    }

    .containercreative{
        display: flex;
        justify-content: center;
        padding-top: 1vw;
    }

/* block3 */

.block3{
    width: 28vw;
    height: 40vw;
    flex-shrink: 0;
    background: #EDEFF2;
    overflow: hidden;
}

.ms{
    margin: 0 auto;
    margin-top: 15%;
    display: flex;
    height: 33.097px;
    justify-content: center;
    align-items: center;
    gap: 20.059px;
    flex-shrink: 0;
    color: #000;
    font-family: Arial;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 80.236px; /* 200% */
    letter-spacing: -0.802px;
}

.containermotion{
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}

/* windows */

.sectionw{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.windowimg{
    width: 1376px;
    height: 890px;
}

.windowimgm{
    display: none;
}

    /* knowledge */

.knowledgerectangle{
    margin-top: 5%;
    width: 100%;
    height: 426px;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerintorec{
    width: 1013px;
    height: 192px;
    margin: auto;
    padding: auto;
}
.knowledge{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Zen Kaku Gothic Antique;
    font-size: 49.524px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.706px; /* 78.156% */
    letter-spacing: -0.99px;
}
/* row1 */

.row1knowledge{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AP{
    width: 190px;
    height: 51px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.AP {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.AP:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.AP:hover:before {
    opacity: 1;
}

.AP:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.AP:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
.AL{
    margin-left: 18px;
    width: 195px;
    height: 51px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.AL {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.AL:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.AL:hover:before {
    opacity: 1;
}

.AL:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.AL:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
.APP{
    margin-left: 18px;
    width: 203px;
    height: 51px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.APP {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.APP:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.APP:hover:before {
    opacity: 1;
}

.APP:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.APP:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
.AAE{
    margin-left: 18px;
    width: 188px;
    height: 51px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.AAE {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.AAE:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.AAE:hover:before {
    opacity: 1;
}

.AAE:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.AAE:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
.AI{
    margin-left: 18px;
    width: 167px;
    height: 51px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.AI {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.AI:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.AI:hover:before {
    opacity: 1;
}

.AI:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.AI:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
/* row2 */

.row2knowledge{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.C4D{
    width: 136.896px;
    height: 51.716px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.C4D {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.C4D:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.C4D:hover:before {
    opacity: 1;
}

.C4D:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.C4D:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
.Figma{
    margin-left: 16.22px;
    width: 105.46px;
    height: 51.716px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.Figma {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.Figma:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.Figma:hover:before {
    opacity: 1;
}

.Figma:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.Figma:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
.HTML{
    margin-left: 16.22px;
    width: 101.404px;
    height: 51.716px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.HTML {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.HTML:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.HTML:hover:before {
    opacity: 1;
}

.HTML:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.HTML:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
.CSS{
    margin-left: 16.22px;
    width: 94.306px;
    height: 51.716px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.CSS {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.CSS:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.CSS:hover:before {
    opacity: 1;
}

.CSS:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.CSS:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
.JavaScript{
    margin-left: 16.22px;
    width: 135.882px;
    height: 51.716px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.JavaScript {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.JavaScript:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.JavaScript:hover:before {
    opacity: 1;
}

.JavaScript:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.JavaScript:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
.PowerPoint{
    margin-left: 16.22px;
    width: 150.078px;
    height: 51.716px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.PowerPoint {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.PowerPoint:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.PowerPoint:hover:before {
    opacity: 1;
}

.PowerPoint:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.PowerPoint:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
.DTP{
    margin-left: 16.22px;
    width: 90.25px;
    height: 51.716px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.DTP {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.DTP:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.DTP:hover:before {
    opacity: 1;
}

.DTP:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.DTP:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */
.AInt{
    margin-left: 16.22px;
    width: 83.151px;
    height: 51.716px;
    border-radius: 8.832px;
    background: #2E2E2E;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
/* experiment */
.AInt {
    border: none;
    outline: none;
    color: #fff;
    background: #2E2E2E;
    position: relative;
    z-index: 0;
}

.AInt:before {
    content: '';
    background: linear-gradient(45deg, #4e4e4e, #5f5f5f, #272727, #5f5f5f, #2b2b2b, #3a3a3a, #575757, #585858, #353535);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.AInt:hover:before {
    opacity: 1;
}

.AInt:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.AInt:hover:after {
    background: #1E1E1E;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* experiment */


.txt{
    font-family: Syne;
    font-size: 17.665px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.249px; /* 75% */
    letter-spacing: -0.353px;
    flex-shrink: 0;
    user-select: none;
}

/* mobileknowledge */

.knowledgerectanglem{
    display: none;
}
.contentintorecm {
    width: 90%;
    height: 70%;
}
.knowledgem{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Zen Kaku Gothic Antique;
    font-size: 49.524px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.706px; /* 78.156% */
    letter-spacing: -0.99px;
}
    /* Footer */
.stopwarcontainer{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.stopw{
    width: 275px;
    height: 44px;
    filter: grayscale(100%);
    transition: 0.5s;
}

.stopw:hover{
    width: 341px;
    height: 64px;
    filter: grayscale(0%);
}

.containerfooter{
    background-color: #ffffff;
    width: 90%;
}

.containeritemssm{
    display: flex;
    justify-content: space-between;
    justify-content:center;
    gap: 2%;
    margin-top: 3vw;
}
.border-sml{
    width: 94px;
    height: 94px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 900px;
    border: 1px solid #afafaf;
    background: rgba(217, 217, 217, 0.00);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.border-sml:hover{
    border: 1px solid #000;
}

.lookingfor{
    display: flex;
    justify-content: center;
    margin: 2vw 0;
    color: #000;
    font-family: Arial;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 125% */
    letter-spacing: -1.28px;
}

.border-git{
    width: 220px;
    height: 66px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 900px;
    border: 1px solid #afafaf;
    background: #FFF;
    transition: 0.25s;
    font-size: 24px;
}

.border-git:hover{
    border: 1px solid #000000;
    font-size: 27px;
}


.gittxt{
    color: #000;
    font-family: Arial;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 333.333% */
    letter-spacing: -0.48px;
}

.containergit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerhireme{
    background-color: #ffffff;
    margin-top: 2vw;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
}

.hireme{
    color: #000;
    font-family: Arial;
    font-size: 350px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 22.857% */
    letter-spacing: -7px;
    opacity: 0.05;
    user-select: none;
}

/* adaptive */

@media (max-width: 1900px) {
    .containerearth {
        padding-top: 0vw;
    }
    .containercreative {
        padding-top: 0vw;
    }
    .containermotion {
        padding-top: 0vw;
    }
}

@media (max-width: 1770px) {
    .containerearth {
        padding: 0 10%;
        margin-top: 10%;
    }
    .earth{
        width: 100%;
        height: 100%;
    }

    .containercreative {
        padding: 0 10%;
        margin-top: 10%;
    }
    .creative{
        width: 100%;
        height: 100%;
    }

    .containermotion {
        padding: 0 10%;
        margin-top: 10%;
    }
    .motion{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1700px) {
    .logo-img {
        width: 90px;
        height: 58px;
    }
    .contact-border{
        font-size: 17px;
    }
    .containercontactbutton {
        width: 115px;
        height: 49px;
    }
    .digitaldesigner {
        font-size: 110px;
    }
    .graphicvisualization {
        font-size: 110px;
        margin-top: 95px;
    }
    .containerdescribe {
        width: 594px;
    }
    .describe {
        font-size: 22px;
    }
    .columnsimg {
        width: 354px;
        height: 480px;
    }
    .windowimg {
        width: 1076px;
        height: 690px;
    }
    .containerindividual {
        width: 680px;
    }
    .individualtxt {
        font-size: 45px;
        line-height: 50px;
    }
    .border-seemore {
        width: 157.656px;
        height: 50.663px;
        border-radius: 989.628px;
        font-size: 20px;
    }
    .containerhireme {
        margin-top: 0.5vw;
    }
    .hireme {
        font-size: 280px;
    }
}

@media (max-width: 1500px) {
    .logo-img {
        width: 70px;
        height: 41px;
    }
    .contact-border {
        font-size: 13px;
    }
    .containercontactbutton {
        width: 97px;
        height: 45px;
    }
    .digitaldesigner {
        font-size: 95px;
    }
    .graphicvisualization {
        font-size: 95px;
        margin-top: 84px;
    }
    .containerdescribe {
        width: 483px;
    }
    .describe {
        font-size: 19px;
    }
    .columnsimg {
        width: 305px;
        height: 420px;
    }
    .windowimg {
        width: 809px;
        height: 520px;
    }
    .containerindividual {
        width: 620px;
        margin-top: 2.5%;
    }
    .individualtxt {
        font-size: 40px;
        line-height: 45px;
    }
    .byvolodymyrtxt {
        font-size: 30px;
    }
    .border-seemore {
        width: 132.656px;
        height: 40.663px;
        border-radius: 989.628px;
        font-size: 18px;
    }
    .knowledgerectangle {
        margin-top: 5vw;
        height: 380px;
    }
    .knowledge {
        font-size: 40px;
    }
    .AP {
        width: 160px;
        height: 51px;
    }
    .AL {
        width: 165px;
        height: 51px;
    }
    .APP {
        width: 173px;
        height: 51px;
    }
    .AAE {
        width: 158px;
        height: 51px;
    }
    .AI{
        width: 137px;
        height: 51px;
    }
    .C4D {
        width: 118px;
        height: 51.716px;
    }
    .Figma {
        width: 75px;
        height: 51.716px;
    }
    .HTML {
        width: 97px;
        height: 51.716px;
    }
    .CSS{
        width: 87px;
        height: 51.716px;
    }
    .JavaScript {
        width: 140px;
        height: 51.716px;
    }
    .PowerPoint {
        width: 120px;
        height: 51.716px;
    }    
    .DTP {
        width: 60px;
        height: 51.716px;
    }
    .AInt {
        width: 53px;
        height: 51.716px;
    }
    .stopw:hover{
        width: 317px;
        height: 58px;
        filter: grayscale(0%);
    }
}
@media (max-width: 1300px) {
    .stopw {
        width: 171px;
        height: 30px;
    }
    .stopw:hover {
        width: 199px;
        height: 38px;
    }
    .border-sml {
        width: 56px;
        height: 56px;
    }
    img {
        width: 27px;
    }
    .lookingfor {
        font-size: 50px;
    }
    .containerhireme {
        margin-top: -1.5vw;
    }
    .hireme {
        font-size: 220px;
    }
}
@media (max-width: 1250px) {
    .digitaldesigner {
        font-size: 85px;
        letter-spacing: -6.0px;
    }
    .graphicvisualization {
        font-size: 85px;
        margin-top: 80px;
        letter-spacing: -6.0px;
    }
    .containercontactbutton {
        width: 85px;
        height: 45px;
    }
    .contact-border {
        font-size: 12px;
    }
    .columnsimg {
        width: 268px;
        height: 368px;
    }
    .windowimg {
        width: 676px;
        height: 440px;
    }
    .containerindividual {
        width: 481px;
    }
    .containerportfolio {
        width: 104px;
        height: 33px;
    }
    .portfolio {
        font-size: 20px;
    }
    .individualtxt {
        font-size: 33px;
        line-height: 40px;
    }
    .containerbyvolodymyr {
        margin-top: 1.5%;
    }
    .byvolodymyrtxt {
        font-size: 20px;
    }
    .border-seemore {
        width: 100.656px;
        height: 34.663px;
        border-radius: 989.628px;
        font-size: 13px;
    }
    .knowledgerectangle {
        margin-top: 5vw;
        height: 300px;
    }
    .knowledge {
        font-size: 35px;
    }
    .AP {
        width: 130px;
        height: 51px;
    }
    .AL {
        width: 135px;
        height: 51px;
    }
    .APP {
        width: 143px;
        height: 51px;
    }
    .AAE {
        width: 128px;
        height: 51px;
    }
    .AI{
        width: 107px;
        height: 51px;
    }
    .C4D {
        width: 88px;
        height: 51.716px;
    }
    .Figma {
        width: 78px;
        height: 51.716px;
    }
    .HTML {
        width: 67px;
        height: 51.716px;
    }
    .CSS{
        width: 57px;
        height: 51.716px;
    }
    .JavaScript {
        width: 110px;
        height: 51.716px;
    }
    .PowerPoint {
        width: 90px;
        height: 51.716px;
    }    
    .DTP {
        width: 61px;
        height: 51.716px;
    }
    .AInt {
        width: 50px;
        height: 51.716px;
    }
    .txt {
        font-size: 14px;
    }
    .containerintorec {
        width: 737px;
        height: 192px;
    }    
}
@media (max-width: 1150px) {
    .digitaldesigner {
        font-size: 70px;
        letter-spacing: -5px;
    }
    .graphicvisualization {
        font-size: 70px;
        letter-spacing: -5px;
        margin-top: 60px;
    }
    .containercontactbutton {
        width: 131px;
        height: 45px;
    }
    .contact-border {
        font-size: 14px;
    }
    .containerdescribe {
        width: 394px;
    }
    .describe {
        font-size: 18px;
    }
    .columnsimg {
        width: 219px;
        height: 298px;
    }
}

@media (max-width: 1000px) {
    .sms{
        margin-top: 11%;
    }
    .cs{
        margin-top: 11%;
    }
    .ms{
        margin-top: 11%;
    }
    .border-seemore {
        width: 100.656px;
        height: 34.663px;
        border-radius: 989.628px;
        font-size: 13px;
    }
    .border-seemoremain {
        width: 100.656px;
        height: 34.663px;
        border-radius: 989.628px;
        font-size: 13px;
    }
    .lookingfor {
        font-size: 40px;
    }
    .containerhireme {
        margin-top: -3.5vw;
    }
    .hireme {
        font-size: 185px;
    }
}
@media (max-width: 950px) {
    .digitaldesigner {
        font-size: 65px;
    }
    .graphicvisualization {
        font-size: 65px;
        margin-top: 60px;
    }
    .containerdescribe {
        width: 348px;
    }
    .describe {
        font-size: 15px;
    }
    
}
@media (max-width: 852px) {
    .header{
        display: none;
    }
    .headercontainerm{
        display: block;
        padding: 4% 0;
    }
    .logo {
        width: 60px; 
        height: auto; 
    }
    .logo-img {
        width: 60px;
        height: auto;
    }
    .contact-border{
        font-size: 13px;
        width: 90%;
    }
    .containercontactbutton {
        width: 110px;
        height: 40px;
    }
    .landingcontainer{
        display: none;
    }
    .section-hero{
        display: block;
        height: 100dvh;
        height: calc(var(--vh, 1vh) * 100);
        margin: 0 auto;
        /* max-width: 30%; */
    }
    .containercolumns{
        display: none;
    }
    .headermobile{
        display: flex;
        justify-content: center;
    }
    .sectionheromobile{
        display: flex;
        justify-content: center;
    }
    .landingcontainerm{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
        background-color: #ffffff;
    }
    .digitaldesignerm{
        /* margin-top: 15vh; */
        color: #000;
        font-family: Syne;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: -3.5px;
    }
    .containerdescribem{
        width: 450px;
        height: 150px;
        flex-shrink: 0;
        margin-top: 35px;
    }
    .describem{
        color: #000;
        font-family: Syne;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        width: 490px;
    }
    .windowspng{
        display: flex;
        justify-content: center;
    }
    .windowimg {
       display: none;
    }
    .windowimgm{
        display: block;
        width: 90vw;
        height: 60vw;
    }
    .sectionw {
        margin-top: 8%;
    }
/*  */
.containerportfolio {
    display: none;
    margin-top: 20%;
}
.containerbyvolodymyr{
    display: none;
}
.ScrollDown_box {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: 7vh;
    margin-bottom: 5%;
  }
  a.btn_ScrollDown {
    display: block;
    padding-top: 84px;
    width: 100px;
    height: 10px;
    margin: 0 auto;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    
  }
  a.btn_ScrollDown span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
  }
  a.btn_ScrollDown span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  a.btn_ScrollDown span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  a.btn_ScrollDown span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
/*  */

    .digitaldesigner {
        font-size: 65px;
        letter-spacing: -5.2px;
    }
    .graphicvisualization {
        font-size: 65px;
        margin-top: 58px;
        letter-spacing: -5.2px;
    }
    .containerdescribe {
        width: 374px;
    }
    .describe {
        font-size: 15px;
    }
    .presolutions{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .creativeportfolio{
        display: block;
        width: 100%;
        height: 100%;
    }
    .containerindividual {
        display: none;
        width: 600px;
    }
    .individualtxt{
        font-size: 38px;
        line-height: 45px;
    }

    .byvolodymyrtxt {
        font-size: 21px;
    }
    .containerblocks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-height: 100%;
    }

    .block1{
        width: 90vw;
        height: 130vw;
        margin-bottom: 8%;
    }
    .block2{
        margin-bottom: 8%;
        width: 90vw;
        height: 130vw;
    }
    .block3{
        width: 90vw;
        height: 130vw;
    }
    .sms {
        margin-top: 20%;
        font-size: 38px;
    }
    .cs{
        margin-top: 20%;
        font-size: 38px;
    }
    .ms{
        margin-top: 20%;
        font-size: 38px;
    }
    .containerseemore {
        margin: 5.4vw;
    }
    .border-seemore {
        width: 116.656px;
        height: 45.663px;
        font-size: 17px;
    }
    .containerearth {
        padding: 0 10%;
        margin-top: 8%;
    }
    .containercreative {
        padding: 0 10%;
        margin-top: 8%;
    }
    .containermotion {
        padding: 0 10%;
        margin-top: 8%;
    }
   .earth {
        width: 110%;
        height: 110%;
    }
    .creative{
        width: 110%;
        height: 110%;
    }
    .motion{
        width: 110%;
        height: 110%;
    }
    .lookingfor {
        font-size: 23px;
    }
    .containerhireme{
            height: 132px;
    }
    .border-sml {
        width: 70px;
        height: 70px;
    }
    .smsvg {
        width: 35px;
        height: 35px;
    }
    .smtsvg{
        width: 27px;
        height: 20px;
    }
    .knowledge {
        font-size: 30px;
    }
    .AP {
        width: 100px;
        height: 41px;
    }
    .AL {
        width: 105px;
        height: 41px;
    }
    .APP {
        width: 113px;
        height: 41px;
    }
    .AAE {
        width: 115px;
        height: 41px;
    }
    .AI {
        width: 99px;
        height: 41px;
    }
    .C4D {
        width: 81px;
        height: 41.716px;
    }
    .Figma {
        width: 65px;
        height: 41.716px;
    }
    .HTML {
        width: 57px;
        height: 41.716px;
    }
    .CSS {
        width: 50px;
        height: 41.716px;
    }
    .JavaScript {
        width: 80px;
        height: 41.716px;
    }
    .PowerPoint {
        width: 72px;
        height: 41.716px;
    }
    .DTP {
        width: 45px;
        height: 41.716px;
    }
    .AInt {
        width: 42px;
        height: 41.716px;
    }
    .containerintorec {
        width: 610px;
        height: 192px;
    }
    .txt {
        font-size: 12px;
    }
    .stopw {
        width: 180px;
        height: 50px;
    }
    .stopw:hover{
        width: 225px;
        height: 50px;
        filter: grayscale(0%);
    }
    .lookingfor {
        font-size: 40px;
    }
    .containerhireme {
        margin-top: 4.5vw;
    }
    .hireme {
        font-size: 155px;
    }
    
    
}

@media (max-width: 700px) {
    .digitaldesigner {
        font-size: 50px;
        letter-spacing: -3.5px;
    }
    .graphicvisualization {
        font-size: 50px;
        margin-top: 42px;
        letter-spacing: -3.5px;
    }
    .containerindividual {
        width: 450px;
    }
    .individualtxt{
        font-size: 30px;
        line-height: 40px;
    }
    .containerblocks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-height: 100%;
    }

    .block1{
        width: 90vw;
        height: 130vw;
        margin-bottom: 8%;
    }
    .block2{
        margin-bottom: 8%;
        width: 90vw;
        height: 130vw;
    }
    .block3{
        width: 90vw;
        height: 130vw;
    }

    .sms {
        margin-top: 13%;
        font-size: 30px;
    }
    .cs{
        margin-top: 13%;
        font-size: 30px;
    }
    .ms{
        margin-top: 13%;
        font-size: 30px;
    }
    .containerseemore {
        margin: 5.4vw;
    }

    .border-seemore {
        width: 116.656px;
        height: 45.663px;
        font-size: 17px;
    }

    .containerearth {
        padding: 0 10%;
        margin-top: 8%;
    }
    .containercreative {
        padding: 0 10%;
        margin-top: 8%;
    }
    .containermotion {
        padding: 0 10%;
        margin-top: 8%;
    }
   .earth {
        width: 110%;
        height: 110%;
    }
    .creative{
        width: 110%;
        height: 110%;
    }
    .motion{
        width: 110%;
        height: 110%;
    }
    .border-sml {
        width: 50px;
        height: 50px;
    }
    .smsvg {
        width: 25px;
        height: 25px;
    }
    .smtsvg {
        width: 20px;
        height: 20px;
    }
    .containeritemssm {
        gap: 4%;
    }
    .stopw {
        width: 130px;
        height: 57px;
    }
    .stopw:hover{
        width: 190px;
        height: 57px;
        filter: grayscale(0%);
    }
    .containerintorec {
        width: 90%;
        height: 192px;
    }
    .knowledgerectangle {
        display: none;
    }
    .knowledgerectanglem{
        display: block;
        margin-top: 8%;
        width: 100%;
        height: 76vw;
        background-color: #1E1E1E;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contentintorecm {
        width: 90%;
        height: 70%;
    }
    .knowledgem{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: Zen Kaku Gothic Antique;
        font-size: 6.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: 38.706px; /* 78.156% */
        letter-spacing: -0.99px;
    }
    .row1{
        margin-top: 4.7vw;
        display: flex;
        justify-content: center;
    }
    .row{
        margin-top: 2.5vw;
        display: flex;
        justify-content: center;
    }
    .rectanglem1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 7.5vw;
        border-radius: 8.832px;
        background: #2E2E2E;
        color: #FFF;
        font-family: Syne;
        font-size: 2.4vw;
        font-style: normal;
        font-weight: 400;
        line-height: 13.249px; /* 75% */
        letter-spacing: -0.353px;
    }
    .rectanglem{
        margin-left: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 7.5vw;
        border-radius: 8.832px;
        background: #2E2E2E;
        color: #FFF;
        font-family: Syne;
        font-size: 2.4vw;
        font-style: normal;
        font-weight: 400;
        line-height: 13.249px; /* 75% */
        letter-spacing: -0.353px;
    }
    .contentintorecm{
        margin: auto;
    }
    .lookingfor {
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        margin: 6vw 0;
    }
    .border-git {
        width: 182px;
        height: 50px;
    }
    .gittxt {
        font-size: 20px;
    }
    .containerhireme{
        height: 132px;
        margin-top: 3vw;
    }
    .hireme {
        font-size: 129px;
    }
}

@media (max-width: 570px) {
    .logo-img {
        width: 45px;
        height: 45px;
    }
    .contact-border{
        font-size: 12px;
    }
    .containercontactbutton {
        width: 102px;
        height: 34px;
    }
    .digitaldesignerm {
        /* margin-top: 15vh; */
        color: #000;
        font-family: Syne;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: -2.7px;
    }
    .containerdescribem {
        width: 377px;
        height: 150px;
        flex-shrink: 0;
        margin-top: 35px;
    }
    .describem {
        color: #000;
        font-family: Syne;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        width: 490px;
    }
    .digitaldesigner {
        font-size: 43px;
        letter-spacing: -3px;
    }
    .graphicvisualization {
        font-size: 43px;
        margin-top: 40px;
        letter-spacing: -3px;
    }
    .containerportfolio {
        width: 94px;
        height: 25px;
    }
    .portfolio {
        font-size: 19px;
    }
    .containerindividual {
        width: 350px;
    }
    .individualtxt{
        font-size: 25px;
        line-height: 35px;
    }

    .byvolodymyrtxt {
        font-size: 17px;
    }

    .containerblocks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-height: 100%;
    }

    .block1{
        width: 90vw;
        height: 130vw;
        margin-bottom: 8%;
    }
    .block2{
        margin-bottom: 8%;
        width: 90vw;
        height: 130vw;
    }
    .block3{
        width: 90vw;
        height: 130vw;
    }

    .sms {
        font-size: 25px;
    }
    .cs{
        font-size: 25px;
    }
    .ms{
        font-size: 25px;
    }
    .containerseemore {
        margin: 5.4vw;
    }

    .border-seemore {
        width: 116.656px;
        height: 45.663px;
        font-size: 17px;
    }

    .containerearth {
        padding: 0 10%;
        margin-top: 8%;
    }
    .containercreative {
        padding: 0 10%;
        margin-top: 8%;
    }
    .containermotion {
        padding: 0 10%;
        margin-top: 8%;
    }
    .earth {
        width: 110%;
        height: 110%;
    }
    .creative{
        width: 110%;
        height: 110%;
    }
    .motion{
        width: 110%;
        height: 110%;
    }
    .stopwarcontainer{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    .stopw:hover{
        width: 130px;
        height: 130px;
    }
    .border-sml {
        width: 50px;
        height: 50px;
    }
    .smsvg {
        width: 25px;
        height: 25px;
    }
    .smtsvg {
        width: 20px;
        height: 20px;
    }
    .containeritemssm {
        gap: 4%;
    }
    .lookingfor {
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        margin: 7vw 0;
    }
    .border-git {
        width: 182px;
        height: 50px;
    }
    .gittxt {
        font-size: 20px;
    }
    .containerhireme{
            height: 132px;
            margin-top: 0vw;
    }
    .hireme {
        font-size: 95px;
    }
}

@media (max-width: 480px) {
    .headercontainer {
        width: 90%;
        padding: 8% 0;
    }
    .logo-img {
        width: 47px;
        height: 25px;
    }
    .contact-border{
        font-size: 13px;
    }
    .containercontactbutton {
        width: 105px;
        height: 35px;
    }
    .digitaldesignerm {
        /* margin-top: 15vh; */
        color: #000;
        font-family: Syne;
        font-size: 39px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: -2.5px;
    }
    .containerdescribem {
        width: 320px;
        height: 163px;
        flex-shrink: 0;
        margin-top: 35px;
    }
    .describem {
        color: #000;
        font-family: Syne;
        font-size: 13.5px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        width: 490px;
    }


    .landingcontainer {
        width: 90%;
        background-color: #ffffff;
        padding-top: 17%;
        padding-bottom: 0%;
    }
    .containerdescribe {
        width: 321px;
    }
    .containerwsolutions {
        padding-top: 0%;
    }
    .containerportfolio {
        width: 116px;
        height: 29px;
        border-radius: 9px;
        margin-bottom: 1.5%;
    }
    .portfolio {
        font-size: 14px;
        letter-spacing: 0px;
    }
    .containerindividual {
        width: 370px;
    }
    .individualtxt {
        font-size: 24px;
        line-height: 30px;
    }

    .byvolodymyrtxt {
        font-size: 13px;
        letter-spacing: 0.6px;
    }

    .containerblocks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-height: 100%;
    }

    .block1{
        width: 90vw;
        height: 130vw;
        margin-bottom: 8%;
    }
    .block2{
        margin-bottom: 8%;
        width: 90vw;
        height: 130vw;
    }
    .block3{
        width: 90vw;
        height: 130vw;
    }

    .sms {
        font-size: 25px;
    }
    .cs{
        font-size: 25px;
    }
    .ms{
        font-size: 25px;
    }
    .containerseemore {
        margin: 5.4vw;
    }

    .border-seemore {
        width: 116.656px;
        height: 45.663px;
        font-size: 17px;
    }

    .containerearth {
        padding: 0 10%;
        margin-top: 8%;
    }
    .containercreative {
        padding: 0 10%;
        margin-top: 8%;
    }
    .containermotion {
        padding: 0 10%;
        margin-top: 8%;
    }

   .earth {
        width: 110%;
        height: 110%;
    }
    .creative{
        width: 110%;
        height: 110%;
    }
    .motion{
        width: 110%;
        height: 110%;
    }
    .border-sml {
        width: 50px;
        height: 50px;
    }
    .smsvg {
        width: 25px;
        height: 25px;
    }
    .smtsvg {
        width: 20px;
        height: 20px;
    }
    .containeritemssm {
        gap: 4%;
    }
    .lookingfor {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        margin: 7vw 0;
    }
    .border-git {
        width: 182px;
        height: 50px;
    }
    .gittxt {
        font-size: 20px;
    }
    .containerhireme{
        height: 70px;
        margin-top: 7vw;
    }
    .hireme {
        font-size: 85px;
    }
}
@media (max-width: 400px) {
    .digitaldesignerm {
        /* margin-top: 14vh; */
        color: #000;
        font-family: Syne;
        font-size: 33px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: -1.7px;
    }
    .containerdescribem {
        width: 250px;
        height: 163px;
        flex-shrink: 0;
        margin-top: 35px;
    }
    .describem {
        color: #000;
        font-family: Syne;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        width: 490px;
    }
.graphicvisualization {
    font-size: 40px;
}
}

@media (max-width: 377px) {
    .digitaldesigner {
        font-size: 37px;
        letter-spacing: -2.5px;
    }
    .graphicvisualization {
        font-size: 37px;
        letter-spacing: -2.5px;
    }
    .containerportfolio {
        width: 100px;
    }
    .containerindividual {
        width: 295px;
    }
    .individualtxt {
        font-size: 21px;
        line-height: 28px;
    }
    .hireme {
        font-size: 70px;
    }
}

@media (max-width: 360px) {
    .digitaldesigner {
        font-size: 33px;
        letter-spacing: -2.5px;
    }
    .graphicvisualization {
        font-size: 33px;
        letter-spacing: -2.5px;
    }
    .containerdescribe {
        width: 300px;
    }
    .sms {
        font-size: 21px;
    }
    .cs {
        font-size: 21px;
    }
    .ms {
        font-size: 21px;
    }
    .border-seemore {
        width: 104.656px;
        height: 31.662999999999997px;
        font-size: 13px;
    }
    .earth {
        width: 100%;
        height: 100%;
    }
    .creative {
        width: 100%;
        height: 100%;
    }
    .motion {
        width: 100%;
        height: 100%;
    }
    .hireme {
        font-size: 70px;
    }
}

@media (max-width: 350px) {
   .ScrollDown_box{
    display: none;
   }

}